.job-list {
	list-style: none;
	margin-left: -40px;
}

.job-item {
	border: 2px solid #CCCCCC;
	background: #edf8f0;
	margin: .5em 0;
	padding: 1em 1em;
	/*padding-left: 40px;*/
}

.job-title {
	font-size: 30px;
}

.job-description {
	font-size: 18px;
}

.job-date {
	float:right;
}

.page-number {	
	display:inline-block;
	text-align:center;
	border:1px solid #CCCCCC;
	background: #FAFAFA;
	margin-right:5px;
	padding:0 5px;
}