.job-list {
	list-style: none;
	margin-left: -40px;
	font-size: 30px;
}
.job-item {
	border: 2px solid #CCCCCC;
	background: #edf8f0;
	margin: .5em 0;
	padding: .5em 1em;
}
.job-description {
	font-size:18px;
	padding-left: 1em;
}

.page-number {	
	display:inline-block;
	text-align:center;
	border:1px solid #CCCCCC;
	background: #FAFAFA;
	margin-right:5px;
	padding:0 5px;
}