<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">	      
			<div class="listing">

				<div class="job-title">
					<p> {{job?.title}} </p>
				</div>
				<div class="job-description" [innerHtml]="job?.description"></div>

				<hr>

				<p> Date created: {{job?.date_created}} </p>
				<p> Created by: {{job?.author}} </p>
				<p> Address: {{job?.address}} </p>
				<p>
					Balance: 
						<span *ngIf="api_data_job_addr">{{ api_data_job_addr.balance }} tBTC</span>
						<span *ngIf="!api_data_job_addr"></span>
				</p>
				<div id="jobAdmin" *ngIf="isJobAuthor">
					<p>this is your job</p>
				</div>
				
				<div id="fundMe">
					<button type="submit" class="btn btn-default" (click)="fundMe()" [disabled]="confirmed">Fund Me</button>
					<app-transaction *ngIf ="isLoggedIn && isFundingOpen" [destination]="job.address"></app-transaction>
				</div>

			</div>



		</div>
	<div class="col-md-1"></div>
  </div>
</div>

<div class="comments">
	<app-comments [api_data_job_addr]="api_data_job_addr"></app-comments>
</div>