.comment-form {
	margin: .5em 0;
	padding: .5em 1em;
}

.btn-comment {
	margin-top: auto;
}

.comment-list {
	list-style: none;
	margin-left: -40px;
}
.comment-item {
	border: 1px solid #CCCCCC;
	background: #d0ecd9;
	margin: .5em 0;
	padding: .5em 1em;
}
.comment-content p {
	font-size:18px;
	padding-left: 1em;
}

.comment-bar {
	border-top: 1px solid #EEEEEE;
	margin-top: -20px;
}

table {
	width: 100%;
}
.tleft {
	text-align: left;
}
.tright {
	text-align: right;
}

#comments-frame {
	/*background: #edf8f0;*/
	margin-top:2em;
	border: 2px solid #CCCCCC;
}

#comment-post{
	float: right;
}