.post {
	margin: .5em 0;
	padding: .5em 1em;
}
.btn-comment {
	margin-top: 7px;
}


.comment-list {
	list-style: none;
	margin-left: -40px;
}
.comment-item {
	border: 2px solid #CCCCCC;
	background: #FCFCFC;
	margin: .5em 0;
	padding: .5em 1em;
}
.comment-content {
	font-size:18px;
	padding-left: 1em;
}
.comment-bar {
	border-top: 1px solid #EEEEEE;
}
table {
	width: 100%;
}
.tleft {
	text-align: left
}
.tright {
	text-align: right;
}