<div class="container">
	<div class="row">
	  <div class="col-md-2"></div>
	  <div class="col-md-8">
      
	  	<form class="post" (submit)="onSubmit()">
	        <label for="">New Comment</label>
	        <div *ngIf="!isLoggedIn" class="message-login" >
    			<p>To post a comment, you must <a routerLink="/login">log in</a> or <a routerLink="/register">register</a>.</p>
  			</div>
  			<div *ngIf="isLoggedIn">
		        <textarea type="text" class="form-control" name="content" [(ngModel)]="newComment.content" placeholder="Enter Your Comment"></textarea>
		        <button type="submit" class="btn btn-default btn-comment">Post Comment</button>
	    	</div>
      	</form>

<!--       	<div class="comments">
      	<comment ng-repeat="comment in commentList" comment-data="comment"></comment>
    	</div> -->

	    <div class="comments">
		    <ul class="comment-list">
				<li class="comment-item" *ngFor="let comment of commentList">
					<div [innerHtml]="comment.content">
					</div>
					<br>
					<div class="comment-bar">
						<table>
							<tr>
								<td class="tleft">
									- {{comment.author}}
								</td>
								<td class="tright">
									<span class="reply"> Reply </span>
								</td>
							</tr>
						</table>
					</div>
				</li>
		    </ul>
	    </div>

	  </div>
	</div>
  <div class="col-md-2"></div>
</div>