<div id="transaction">
	<!-- make sure we got the data -->
	<div>
		<p *ngIf="!isLoggedIn" class="message-login">To make a contribution, you must <a routerLink="/login">log in</a> or <a routerLink="/register">register</a>.</p>

		<p *ngIf="isLoggedIn && api_data && api_data.confirmed_balance == 0" class="red-text">Your account balance is zero. Visit your <a routerLink="/profile">profile</a> to add funds.</p>
		<p *ngIf="!api_data" class="red-text">Error: User account data could not be loaded. Try again later.</p>
		

		
	</div>

	<div *ngIf="isLoggedIn && api_data.confirmed_balance">

		<form [formGroup]="form" (submit)="onSubmit()">

			<p class="form-group" *ngIf="api_data.confirmed_balance">
				<b>Your <span *ngIf="fromJob">job</span> account balance: </b> {{ api_data.confirmed_balance*1 }} tBTC
			</p>

			<p class="form-group" *ngIf="api_data.unconfirmed_balance">
				<b>Your unconfirmed <span *ngIf="fromJob">job</span> account balance: </b>
			{{api_data.confirmed_balance*1 + api_data.unconfirmed_balance*1}} tBTC</p>

			<div class="form-group">
				<label for="tx_value">Amount to send (in tBTC):</label>
				<input type="text" class="form-control" name="tx_value" placeholder="1"  formControlName="tx_value">
				<p class="red-text" *ngIf="form.controls.tx_value.errors?.required && (form.controls.tx_value.dirty || form.controls.tx_value.touched)">Amount is required</p>
				<p class="red-text" *ngIf="api_data.confirmed_balance < (form.controls.tx_value.value + form.controls.tx_fee.value)">Total amount cannot be greater than your account balance.</p>
			</div>

			<div class="form-group">
				<label for="tx_fee">Transaction fees:</label>
				<input type="text" class="form-control" name="tx_fee" placeholder=".0001"  formControlName="tx_fee">
				<p class="red-text" *ngIf=".01 <= form.controls.tx_fee.value">Fees must be <= .01</p>
				<p class="red-text" *ngIf=".0001 >= form.controls.tx_fee.value">Fees must be >= .0001</p>
			</div>

			<div *ngIf="!hasDestination">
				<div class="form-group">
					<label for="tx_destination">Destination Address:</label>
					<input type="text" class="form-control" name="tx_destination" formControlName="tx_destination">
					<p class="red-text" *ngIf="form.controls.tx_destination.errors?.required && (form.controls.tx_destination.dirty || form.controls.tx_destination.touched)">Destination is required</p>
				</div>
			</div>

			<div *ngIf="hasDestination && !fromJob">
				<p> <b>Destination Address:</b> {{destination_address}} </p>
			</div>

			<div *ngIf="fromJob">
				<p> <b>Destination User:</b> {{destination_comment.author}} </p>
			</div>

			<div>
				<p> <b>Total Amount:</b> {{(form.controls.tx_fee.value*1) + (form.controls.tx_value.value*1)}} </p>
			</div>

			<button type="submit" class="btn btn-default" [disabled]="!form.valid || confirmed">Send Transaction</button>

			<div class="confirmation">
				<p class="red-text" *ngIf="error_message">Your transaction could not be sent.</p>
				<p class="red-text" *ngIf="error_message">{{ error_message }} </p>
				<p class="form-success" *ngIf="confirmed">Success! txid: <a href="https://sochain.com/tx/BTCTEST/{{ txid }}"> {{ txid }} </a></p>
			</div>
		</form>
	</div>
</div>