<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <h1>Register</h1>
      <p class="lead">Already a member? <a routerLink="/login">Log in</a> instead.</p>

      <form [formGroup]="form" (submit)="register()">

        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your username" formControlName="name">
          <p class="form-invalid" *ngIf="form.controls.name.errors?.required && (form.controls.name.dirty || form.controls.name.touched)">Username is required.</p>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter your password"  formControlName="password">
          <p class="form-invalid" *ngIf="form.controls.password.errors?.required && (form.controls.password.dirty || form.controls.password.touched)">Password is required</p>
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!form.valid">Register!</button>
      </form>
    </div>

    <div class="col-md-2"></div>
  </div>

</div>