<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		 <div class="col-md-8">

			<h1 class="form-signin-heading">My Profile</h1>

			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Username:</label>
					<span class="form-control-static">{{ profile?.name }}</span>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Public Address:</label>
					<a href="https://chain.so/address/BTCTEST/{{ profile?.address }}">{{ profile?.address }}</a>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">WIF:</label>
					<span class="form-control-static">{{ profile?.WIF }}</span>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Balance: </label>
					<span class="form-control-static">{{ api_data.confirmed_balance*1 }} tBTC</span>
					<!-- <span class="form-control-static-red" *ngIf="!api_data.balance">Error: Could not connect to Blockexplorer.</span> -->
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Unconfirmed Balance: </label>
					<span class="form-control-static">{{ api_data.confirmed_balance*1 + api_data.unconfirmed_balance*1 }} tBTC</span>
					<!-- <span class="form-control-static-red" *ngIf="!api_data.balance">Error: Could not connect to Blockexplorer.</span> -->
				</div>

				<div id="withdrawal">
					<button type="submit" class="btn btn-default" (click)="withdrawal()" [disabled]="confirmed">Withdraw</button>
					<app-transaction *ngIf ="isWithdrawing"></app-transaction>
				</div>
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>