<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		 <div class="col-md-8">

			<h1 class="form-signin-heading">My Profile</h1>

			<div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Username:</label>
					<p class="form-control-static">{{ profile?.name }}</p>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Public Address:</label>
					<p class="form-control-static">{{ profile?.address }}</p>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">WIF lol:</label>
					<p class="form-control-static">{{ profile?.WIF }}</p>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Balance: </label>
					<p class="form-control-static" *ngIf="api_data.balance">{{ api_data.balance }} tBTC</p>
					<!-- <p class="form-control-static-red" *ngIf="!api_data.balance">Error: Could not connect to Blockexplorer.</p> -->
				</div>

				<div id="withdrawal">
					<button type="submit" class="btn btn-default" (click)="withdrawal()" [disabled]="confirmed">Withdraw</button>
					<app-transaction *ngIf ="isWithdrawing"></app-transaction>
				</div>
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>